@import "_vars";
@import "_global";
@import "_fonts";

.photo {
    margin-top: 41px;
}

.grid {
    margin: 0 auto;
}

.item {
    float: left;
    margin: 9px 11px;
    max-width: 432px;
    width: 100%;
    img {
        width: 100%;
    }
    &.hidden {
        display: none;
        height: 0;
    }
}

.load_more {
    font-family: "Montserrat Alternates", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 17px 65px;
    background: linear-gradient(86.99deg, #1bbb73 0%, #9dc33c 100%);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    width: 243px;
    margin-bottom: 50px;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

@import "_media";
